<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Välkommen</h1>
    <div class="product">
        <ul>
            <li class="List" th:each="product : ${products}">
                <a th:href="@{product/{id}(id=${product.id})}">
                     <span th:text="'Produkt: ' + ${product.name} + ' | Pris: ' + ${product.price} + ' kr'"></span></a>
                     <!-- '<img th:src="@{'data:image/jpeg;base64,' + ${#strings.bytesToHexString(product.image)}}" alt="Bilden"> '   -->
            </li>
        </ul>
    </div> 
    <a href="/register">Registrera dig</a>
    <div th:if="${#authorization.expression('isAnonymous()')}">
        <a href="/login">Logga in</a>
    </div>
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <a href="/order">Mina ordrar</a>
        <a href="/logout">Logga ut</a>
    </div>
    
</body>
</html>