<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <h1>Välkommen</h1>
    <div id="product">
        <ul>
            <li class="List" th:each="product : ${products}">
                <a th:href="@{product/{id}(id=${product.id})}">
                     <span th:text="'Produkt: ' + ${product.name} + ' | Pris: ' + ${product.price} + ' kr'"></span></a>
            </li>
        </ul>
    </div> 
    <div id="button-container" th:if="${#authorization.expression('isAnonymous()')}">
        <a class="buttonheader" th:href="@{/login}">Logga in</a>
        <a class="buttonheader" th:href="@{/register}">Registrera dig</a>
    </div>
    <div id="button-container" th:if="${#authorization.expression('isAuthenticated()')}">
        <a class="buttonheader" th:href="@{/logout}">Logga ut</a>
        <a class="buttonheader" th:href="@{/order}">Mina ordrar</a>
    </div>
</body>
</html>