<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="product">
        <ul>
            <li class="List" th:each="product : ${products}">
                     Produkt: <span th:text="${product.name}"></span><br/><br/>
                     Beskrivning: <span th:text="${product.description}"></span><br/><br/>
                     Pris: <span th:text="${product.price}"></span>kr<br/><br/>
                    
            </li>
        </ul>
    </div> 
    <a href="/">Startsidan</a>
</body>
</html>