<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="/css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrera konto</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>Skapa ett konto!</h1>
    <p class="errorMessage" th:text="${errorMsgAdd}"></p>
        <div id="form2">
            <form th:action="@{/register-account}" method="post">
                <input type="text" placeholder="Förnamn" name="fName" required>
                <input type="text" placeholder="Efternamn" name="lName" required>
                <input type="text" placeholder="Email" name="email" required>
                <input type="text" placeholder="Användarnamn" name="username" required>
                <input type="password" placeholder="Lösenord" name="password" required><br>
                <button type="submit">Registrera dig!</button><br>
            </form>
        </div>
        <div id="button-container-register">
            <a class="buttonheader" th:href="@{/login}">Logga in</a>
            <a class="buttonheader" th:href="@{/}">Startsidan</a>
        </div>
</body>
</html>
