body {
    max-width: 1400px;
    min-width: 640px;
    margin: auto;
    padding: 10px;
    background-color:#f4f4f4;
}

h1 { 
    background-color: #c9dbfa;
    margin: auto;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 4px solid black;
    text-align: center;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="password"] {
    width: 50%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#product {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    border-bottom: 4px solid black;
    background-color: #f4f4f4;
}

#product ul {
    list-style-type: none;
}

#product ul li {
    background-color: #afc9f7;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    
}

#product ul li:hover {
    background-color: #c9dbfa;
}

#product ul li a {
    color: black;
    text-decoration-line: none;
}

#form2 {
    place-items: center; 
    padding: 10px;
    text-align: left;
}

.buttonheader {
    height: auto;
    padding: 10px;
    background-color: #bbb; 
    color: black;
    border: none;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
}

.buttonheader:hover {
    background-color: #ccc; 
}

#button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#button-container-register {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

button {
    height: auto;
    padding: 10px;
    background-color: #bbb; 
    color: black;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: #ccc; 
}

img {
    height: 400px;
    width: 500px;
}